/* Created with Joey Kozak */

* {
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

body {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100vh;
    background-color: black;
    color: white;
}

.click-counter {
    text-align: center;
}

.hide {
    display: none;
}

button {
    display: block;
    padding: 25px;
    margin: 25px;
    width: 300px;
}

/* .FS-button {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 75%;
    top: 0;
    left: 0;
}

.FS-button:active {
    background-color: rgba(0, 0, 0, .2);
} */

#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
    overflow: auto;
    /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
}

#modal-textbox {
    color: black;
    background-color: white;
    height: 350px;
    width: 550px;
    border-radius: 10px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;
}

h1 {
    padding-bottom: 15px;
}

.modal-buttons {
    padding: 14px 18px;
    background-color: black;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: 'Arial';
    cursor: pointer;
}

#modal-textbox p,
#modal-textbox h2 {
    margin-bottom: 20px;
}

#modal-textbox h2 {
    margin-bottom: 24px;
}

#modal-textbox p {
    font-size: 20px;
}

.footer {
    margin-top: 35px;
}