:root {
    --grey: #585c6e;
    --offwhite: #f5f5f5;
    --box-shadow: 0 6px 6px -6px rgba(0, 0, 0, .5);
}

body {
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

p,
a {
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style: none;
}

a:visited {
    text-decoration: none;
    decoration: none;
}

.nav {
    height: 100px;
    width: 100%;
}

.topnav {
    background-color: var(--offwhite);
    width: 100%;
    padding: 25px 0 25px 0;
    overflow: hidden;
    display: flex;
    position: sticky;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
    border-bottom: 1px solid var(--grey);
    padding: 13px 16px;
}

.topnav a.active {
    border-bottom: 1px solid var(--grey);
    padding: 13px 16px;
}

.mobileMenu {
    color: black;
    font-size: 32px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Homepage hero styles */

.hero {
    display: flex;
    background: url("./imgs/hero.jpeg");
    align-items: center;
    justify-content: end;
    height: 70vh;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.blurb {
    width: 30%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px;
    background-color: rgba(255, 255, 255, 0.678);
    margin: 10%;
    font-size: 22px;
}

.blurb p {
    line-height: 1.4;
}

/* End homepage hero styles */

/* About me styling */

.heading {
    text-align: center;
    font-size: 40px;
}

.about p {
    font-size: 20px;
}

.cubs {
    min-height: 400px;
    background: url("./imgs/ted-wife-cubs.jpg");
    background-size: cover;
    background-position: 25%;
}

#sig {
    text-align: center;
    margin: 0 auto;
}

#sig img {
    width: 30%;
}

.row {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    margin: 25px auto;
    width: 90%;
}

.column {
    flex: 50%;
    padding: 25px;
}

.about a {
    color: black;
}

/* End about me styles */

/* Project page styles */

.projectPic {
    width: 100%;
    border-radius: 10px;
}

.projectsContainer {
    display: flex;
    justify-content: center;
}

.projectTitle {
    margin-bottom: 10px;
}

.projectCard {
    text-align: center;
    width: 25%;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */

/* Credit to https://www.w3schools.com/howto/howto_js_accordion.asp */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.readMore a {
    color: black;
    line-height: 1.2;
    font-size: 20px;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion.active:after {
    content: "\2212";
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.readMore {
    line-height: 1.5;
    font-size: 20px;
    padding: 10px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/* End project page styles */

/* Start resume page styles */

.resumeContainer {
    width: 100%;
    margin-top: 20px;
    background: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    line-height: 2;
}

#sidebar ul {
    padding: 0;
}

#sidebar img {
    width: 75%;
}

.sidebarContainer {
    margin: 0 25px 0 25px;
    background-color: var(--offwhite);
    box-shadow: var(--box-shadow);
}

.information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.topbox,
.bottombox {
    width: 100%;
}

.topbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 12.5px;
}

.bottombox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12.5px;
}

.resumeCard {
    height: 100%;
    background-color: var(--offwhite);
    padding: 0 25px 0px 25px;
    margin-right: 25px;
    font-size: 18px;
    flex: 1;
    box-shadow: var(--box-shadow);
}

.resumeCard p {
    margin-top: -10px;
    margin-bottom: 20px;
}

/* End resume page styles */

/* start contact page styles */

.contact {
    margin-top: 20px;
    background: white;
    display: flex;
    flex-direction: row;
}

.contactInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.leftbox,
.rightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite);
    padding: 0 25px 0px 25px;
    margin-right: 25px;
    font-size: 18px;
    flex: 1;
    box-shadow: var(--box-shadow);
    height: 70vh;
}

.leftbox {
    margin: 0 25px 0 25px;
    background-color: var(--offwhite);
    box-shadow: var(--box-shadow);
}

.leftbox ul {
    padding: 0;
}

.leftbox a {
    color: black;
    line-height: 2;
    font-size: 22px;
    text-decoration: none;
}

.rightbox {
    background: url("./imgs/contact.jpeg");
    background-size: cover;
}

/* End contect page styles */

/* Footer to the bottom of the page */

.projects,
.contact,
.resumeContainer,
.hero {
    min-height: calc(100vh - 350px);
}

/* Footer Styles */

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerContent h3 {
    font-size: 30px;
    line-height: 2;
    color: black;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.socials li {
    margin: 0 15px;
}

.socials a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 25px;
}

footer {
    margin-top: 20px;
    background-color: var(--offwhite);
    padding: 15px;
    text-align: center;
    box-shadow: var(--box-shadow);
}

/* End footer styles */

@media screen and (max-width: 900px) {
    /* Mobile Menu from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
    .topnav button {
        float: right;
        display: block;
    }
    .topnav a {
        display: none;
    }
    .topnav a.active {
        border: none;
    }
    .topnav .mobileMenu {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
        display: block;
    }
    .topnav.responsive .mobileMenu {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
    }
    .topnav a:hover {
        border: none;
        padding: 14px 16px;
    }
    .topnav a.active {
        border: none;
        padding: 13px 16px;
    }
    .hero {
        justify-content: center;
    }
    .blurb {
        width: 50%;
        font-size: 24px;
    }
    .row {
        display: block;
        width: 100%;
    }
    .column {
        padding: 10px;
    }
    #cubs {
        width: 100%;
    }
    section {
        margin: 25px;
    }
    .projectsContainer {
        flex-wrap: wrap;
    }
    .projectCard {
        width: 80%;
        margin: auto;
    }
    .projects {
        padding: 0px;
    }
    .resumeContainer {
        margin: 25px auto;
    }
    footer {
        width: inherit;
    }
    .leftbox,
    .rightbox {
        margin: 0;
    }
}

/* Media Queries */

@media screen and (max-width: 600px) {
    section {
        margin: 15px;
    }
    .hero {
        justify-content: center;
    }
    .blurb {
        width: 90%;
        font-size: 18px;
    }
    #sig {
        width: 100%;
    }
    #sig img {
        width: 50%;
    }
    .projectsContainer {
        display: block;
    }
    .projectCard {
        width: 90%;
        margin: auto;
    }
    .sidebarContainer {
        text-align: center;
    }
    .resumeContainer {
        flex-wrap: wrap;
        width: 100%;
    }
    .resumeCard {
        text-align: center;
        margin: 0;
    }
    .information {
        margin: 25px;
    }
    .contact {
        flex-direction: column;
    }
    .rightbox {
        margin-top: 25px;
        min-height: 400px;
    }
}